* {
  margin: 0;
}

#navbar {
  height: 5rem;
  background: rgb(229, 236, 248);
}

.logo {
  font-size: 20px;
  color: #ef4036;
}

.hero {
  min-height: calc(100vh - 5rem);
  background: #222;
  color: white;
}

.hero span {
  color: #ef4036;
  font-size: 30px;
}

.hero-bin {
  background: #ef4036;
  color: white;
}
