* {
  margin: 0;
}

#navbar {
  height: 5rem;
  background: rgb(229, 236, 248);
}

.logo {
  font-size: 20px;
  color: #ef4036;
}

.hero {
  color: rgb(225, 236, 73);
  background-color: rgb(36, 35, 35);
  min-height: calc(100vh - 5rem);
}

span {
  color: aliceblue;
  font-size: 2rem;
}

.hero-bin {
  background: #fff11a;
  color: black;
}
