/* :root {
  --primaryColor: rgb(13, 48, 10);
  --cl-secondary: rgb(231, 125, 64);
  --mainTransition: all 2s linear;
  --mainSpacing: 5px;
  --fontWeight: 30px;
}

h1 {
  color: var(--primaryColor);
}

h2 {
  color: var(--primaryColor);
}

h3 {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}

p {
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

h3:hover {
  color: var(--cl-secondary);
}

p:hover {
  color: var(--cl-secondary);
}

div {
  --primaryPurple: purple;
}

.main-text {
  color: var(--primaryPurple);
  font-size: var(--fontWeight);
} */
